@charset "UTF-8";
/* Isso a globo não mostra */


body {
    background: url(../_css/_imagens/fundo.jpg) ;
    background-position: 100%;
    background-size: 100%;
 /* background-attachment: fixed; */
    font-family: arial, sans-serif;

}

div {
    
    padding: 8px;
    position: relative;
    width: 700px;
    height: 700px;
    background-color: #ffffff;
    margin: 145px auto 200px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;

}

p{

    color: rgb(0, 17, 255);
}


/* Long live House Stark */