*{
    font-family: Karla;
    box-sizing: border-box;
}
body.exercicio{
    grid-template-rows:120px 60px 1fr 60px;
    grid-template-areas: "cabe" "navega"
    "prin" "rodape";
}
.prin{
    height: calc(100vh - 240px);
}
.navega{
    grid-area: navega;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}
.navega > a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #2196f3;
    padding: 5px 10px;
    margin-right: 10px;
}
a#a1{
    background-color: rgb(4, 163, 4);
}
a#a2{
    background-color: rgb(194, 13, 13);
}